*{
    margin:0;
    padding:0;
    list-style:none;
}
#wrap{
    width:300px;
    /* background: red; */
    margin:100px auto;
}
ul{
    width:250px;
    border:1px solid #ccc;
    margin:100px auto;
}
ul li{
      line-height:30px;
      display:flex;
      align-items:center;
      border-bottom:1px solid #ccc;
    }
ul li span{
    width:33.33%;
    text-align:center;
}
ul li span:nth-of-type(2){
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
ul li:last-child{
    border: none;
}
.updataBtn .removeBtn{
    height:22px;
}
#wrap i{
    visibility: hidden;
}
#wrap p{
    text-align: center;
     display:none; 
    position: relative;
}
#wrap p b{
    position:absolute;
    top:-30px;
    right:20px;;
    cursor: pointer;
    display: inline-block;
    width:20px;
    height: 20px;
    border:1px solid #ccc;
    border-radius: 50%;
    line-height:20px;
    text-align: center;
    background: #ccc;
}
#wrap p>input{
    width:190px;
    margin-bottom:20px;
    outline:none;
}
#wrap p>button{
    width:250px;
}
#wrap .ccc{
    background: red;
    color:#fff;
}